.TodosList {
  .addTodo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    input {
      all: unset;
      padding: 0.5em;

      border-bottom: 1px solid grey;
    }
  }
  .allTodos {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .todo {
          background: white;
          border: 1px #999 solid;
          padding: 1em;
          margin: 1em;
          .actions {

          }

         &.completed {
             opacity: 0.4;
             text-decoration: line-through;
         }


      }
  }
}
